#maximal read length
max_rd_len=150
[LIB]
#average insert size
avg_ins=200
#if sequence needs to be reversed
reverse_seq=0
#in which order the reads are used, used for assembly or scaffolding, normally we use 3
asm_flags=3
#rank=1
#fastq file for read 1
q1=PREFIX_1.fastq
#fastq file for read 2
q2=PREFIX_2.fastq
